# 1

A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

H0: There is no significant difference in the diameter of the cutlet between two units.

H1: There is significant difference in the diameter of the cutlet between two units.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv(r'C:\Users\shiva\OneDrive\Desktop\Assignments\hypothesis\Cutlets.csv')

In [3]:
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
data.mean()

Unit A    7.019091
Unit B    6.964297
dtype: float64

In [5]:
data.shape

(35, 2)

Performing 2-Sample t test on cutlets data

In [6]:
import scipy.stats as stats

In [7]:
_,p_value = stats.ttest_ind(a=data['Unit A'], b=data['Unit B'])
p_value

0.4722394724599501

Significance value is 5%(0.05) and we got 0.47 p value thus we faild to reject H0

# 2

A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

Ho: there is no difference in average TAT among the different laboratories.

H1: there is a difference in average TAT among the different laboratories.

In [8]:
df = pd.read_csv(r'C:\Users\shiva\OneDrive\Desktop\Assignments\hypothesis\LabTAT.csv')
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [9]:
stats.f_oneway(df['Laboratory 1'],df['Laboratory 2'],df['Laboratory 3'],df['Laboratory 4'])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

The p_value<0.05 thus reject the null hypothesis.

# 3

Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

H0: All proportions are equal

Ha: Not all proportions are equal

In [10]:
buyer_ratio = pd.read_csv(r'C:\Users\shiva\OneDrive\Desktop\Assignments\hypothesis\BuyerRatio.csv')

In [11]:
buyer_ratio.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [12]:
data1= buyer_ratio.iloc[:,1:].values
data1

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [13]:
_,p_val,d,f = stats.chi2_contingency(data1)

In [14]:
p_val

0.6603094907091882

p_value > 0.05, Failed to reject null hypothesis.

# 4

TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

H0: the defective % does not varies by centre

Ha: the defective % varies by centre

In [15]:
order = pd.read_csv(r'C:\Users\shiva\OneDrive\Desktop\Assignments\hypothesis\Costomer+OrderForm.csv')

In [16]:
order

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [17]:
new_order= order.apply(pd.Series.value_counts)

In [18]:
_,p_val,d,f = stats.chi2_contingency(new_order)

In [19]:
p_val

0.2771020991233135

p value > 0.05 (5% significance value), Failed to reject Null Hypothesis.